{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
 
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th style="background-color:#68b0ab; border:none">Ref</th>
                                <th style="background-color:#68b0ab; border:none">Nom</th>
                                <th style="background-color:#68b0ab; border:none">Prix</th>
                                <th style="background-color:#68b0ab; border:none">Qte</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ article.ref }}</td>
                                <td>{{ article.nom }}</td>
                                <td>{{ article.prix }}</td>
                                <td>{{ article.qte }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" class="text-right"><a href="{{ path('article_index') }}" class="btn btn-primary">Retour à la liste</a></td>
                                <td><a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-primary">Editer l'article</a></td>
                                <td>{{ include('article/_delete_form.html.twig') }}</td>
                            </tr>
                        </tfoot>
                    </table>        
                </div>
            </div>
        </div>
    </div>


{% endblock %}
